.container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 400px;
}

.formContainer input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  background-color: #eee;
  color: var(--foreground);
}

.codesContainer {
  width: 100%;
  overflow-x: auto;
}

.active {
  color: green;
}

.inactive {
  color: red;
}

.editFormContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.editFormContainer h2 {
  margin-bottom: 20px;
}

.editFormContainer input,
.editFormContainer select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  background-color: #eee;
  color: var(--foreground);
}

.analysisContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
  width: 100%;
}
