.container {
  padding: 20px;
  background-color: var(--background);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
  font-size: 24px;
  color: var(--theme-color);
  margin-bottom: 20px;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 20px;
}

.tableWrapper {
  overflow-x: auto;
}

.status {
  background-color: var(--background) !important;
  padding: 3px 10px;
  border-radius: 20px;
  font-size: var(--fs-xsmall);
}

.statusApproved {
  color: rgb(0, 218, 0) !important;
}

.statusPending {
  color: orange !important;
}

.statusRejected {
  color: rgb(184, 14, 14) !important;
}

.statusSuspended {
  color: rgb(207, 187, 5) !important;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.actionButton {
  padding: 5px 10px;
  background-color: var(--theme-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.actionButton:hover {
  background-color: var(--theme-color-dark);
}

.actionButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
